body {
	margin: 0px auto;
	background-color: #FFFFF0;
}
.menu_container {
	width: 70%;
	display: flex;
}
.menu_box {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 50px;
}
#header {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
	position: relative;
	display: flex;
	align-items: baseline;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 125px;
}
.header-pic {
	flex-direction: row;
	width: 28em;
	cursor: pointer;
}
.header_box {
	cursor: pointer;
}
.hidden {
	display: none;
}
.header_list {
	padding-left: 0;
}
.header_list>li {
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	font-weight: bold;
	font-family: Microsoft JhengHei;
	cursor: pointer;
}
.header_list>li>a {
	color: black;
	text-decoration: none;
}
.header_list>li:hover {
	border: none;
	background-color: #E0E0E0;
	text-decoration: none;
	transition: 0.7s;
}
.header_font {
	margin-top: 10px;
	font-size: 14px;
	color: black;
	font-family: NSimSun;
	cursor: default;
}
#header,.carousel_box, .aboutus_all, .service_project_box, .life_background_box, .location_back, .booking {
	background-color: #FFFFF0;
}
.carousel_box {
	margin: 0px auto;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}
#myCarousel {
	margin: 25px auto;
	width: 70%;
}
.item:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	background-color: #212121;
}
.aboutus_title,.service_title,.life_title,.location {
	margin: 0px auto;
	padding: 20px;
	display: table;
}
.aboutus_title>h1,.service_title>h2,.life_title>h4,.location>h6 {
	position: relative;
	font-family: Georgia, SimSun;
	padding: 0 20px;
	font-weight: 700;
	cursor: pointer;
}
.aboutus_title>h1>span,.service_title>h2>span,.life_title>h4>span,.location>h6>span {
	font-style: italic;
	font-size: 28px;
	font-weight: 400;
	cursor: pointer;
}
.aboutus_title>h1:after,.service_title>h2:after,.life_title>h4:after,.location>h6:after {
	left: 100%;
}
.aboutus_title>h1:before,.service_title>h2:before,.life_title>h4:before,.location>h6:before {
	right: 100%;
}
.aboutus_title>h1:after,.service_title>h2:after,.life_title>h4:after,.location>h6:after,.aboutus_title>h1:before,.service_title>h2:before,.life_title>h4:before,.location>h6:before {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	width: 90%;
	height: 4px;
	border-width: 1px 0;
	border-style: solid;
	border-color: #e3e3e3;
}
.aboutus_font {
	font-family: NSimSun;
	height: 50%;
	width: 55%;
	font-size: 20px;
	line-height: 35px;
	margin: 0 auto;
	overflow: auto;
	cursor: default;
}
.service_items {
	width: 70%;
	margin: 0px auto;
}
.service_items>ul {
	margin: 5% 8%;
	width: 100%;
	padding-left: 0;
}
.item_list {
	line-height: 50px;
	text-align: center;
	list-style-type: none;
	margin: 10px 3%;
	border: 1px solid #E0E0E0;
	border-radius: 5px;
	font-size: 18px;
	font-family: Microsoft JhengHei;
	cursor: pointer;
}
.item_link {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
.item_list:hover, .item_link:hover {
	text-decoration: none;
	color: black;
	background-color: #E0E0E0;
	transition: 0.5s;
}
.item_link:active {
	text-decoration: none;
	background-color: #E0E0E0;
}
.service_content {
	padding: 40px;
	height: 500px;
}
.service_content>h3 {
	font-family: Georgia, SimHei;
	font-size: 25px;
	text-align: center;
	letter-spacing: 3px;
	cursor: pointer;
}
.service_content>h3>span {
	font-size: 18px;
	font-style: italic;
	letter-spacing: 0;
	cursor: pointer;
}
.service_content>ol, .service_content>ul {
	margin: 20px 0;
	width: 95%;
	vertical-align: middle;
}
.service_content>ol>li, .service_content>ul>li {
	line-height: 45px;
	font-size: 18px;
	font-family: Microsoft YaHei;
	width: 100%;
	cursor: default;
}
.life_title>h4:after, .life_title>h4:before {
	width: 125%;
	height: 4px;
}
.life_all {
	width: 70%;
	margin: 0 auto;
}
.life_content {
	position: relative;
	text-align: center;
}
.life_pic {
	width: 100%;
	height: 250px;
}
.life_pic_overlay,.overlay_text  {
	position: absolute;
}
.life_pic_overlay {
	width: 100%;
	height: 250px;
	top: 0;
	opacity: 0;
	transition: .3s ease;
	background-color: #BDBDBD;
}
.life_content:hover .life_pic_overlay {
	opacity: 1;
	cursor: pointer;
}
.overlay_text {
	color: #FFFFF0;
	font-size: 18px;
	font-family: Georgia;
	font-style: italic;
	cursor: pointer;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);*/
}
.life_date {
	padding-top: 15px;
	font-family: Georgia;
	font-size: 14px;
	font-weight: 600;
	font-style: italic;
	vertical-align: middle;
	cursor: default;
}
.life_content {
	overflow: hidden;
	background-size: cover;
	background-position: center;
}
.life_content>h5>a {
	color: black;
	text-decoration: none;
}
.life_content>h5 {
	font-family: monospace;
	vertical-align: middle;
	font-weight: bold;
	font-size: 19px;
	color: #424242;
	letter-spacing: 2px;
	line-height: 150%;
}
.life_content>h5>a:hover {
	text-decoration: none;
}
.life_font {
	vertical-align: middle;
	color: #838383;
	font-size: 14px;
	cursor: default;
}
.menu {
	display: none;
}
.header_list>li {
	display: inline;
	font-size: 16px;
	padding: 5px 15px;
}
@media screen and (min-width: 999px) {
	.header_font {
		display: flex;
		justify-content: center;
	}
	.aboutus_title>h1,.service_title>h2,.life_title>h4,.location>h6 {
		font-size: 32px;
	}
	.aboutus_title>h1>span,.service_title>h2>span,.life_title>h4>span,.location>h6>span {
		font-size: 28px;
	}
	.aboutus_title>h1:after,.aboutus_title>h1:before {
		width: 63%;
	}
	.service_title>h2:after,.service_title>h2:before {
		width: 97%;
	}
	.life_title>h4:after,.life_title>h4:before,.location>h6:after,.location>h6:before {
		width: 123%;
	}

	.item_pic {
		height: 650px !important;
		width: 100% !important;
	}
	.service_items>ul {
		float: left;
		width: 200px;
		display: inline-block;
	}
	.service_content {
		margin-left: 350px;
	}
	.life_content {
		display: inline-block;
		width: calc(100% / 4 - 20px * 2 / 4);
		height: 450px;
	}
	.life_content:nth-child(2n) {
		margin: 0 5px;
	}
}

@media screen and (max-width: 1340px) {
	.menu_container {
		position: relative;
	}
	.menu_box {
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 1;
	}
	.header_list>li {
		background-color: #FFFFF0;
		list-style-type: none;
		margin-bottom: 2px;
		font-size: 14px;
		display: block;
		text-align: center;
	}
	.header_font {
		display: none;
	}
	.header_list_container {
		display: flex;
		flex-direction: column;
		width: 100px;
	}
	.menu,.menu>span {
		font-family: Georgia;
	}
	.menu,.menu:hover,.span:hover {
		text-decoration: none;
		color: black;
	}
	.menu {
		display: block;
		border: 1px solid #E0E0E0;
		text-transform: uppercase;
		border-radius: 4px;
		top: 35%;
	}
	.menu {
		padding: 0.7em 1.2em;
		font-size: 0.9em;
		margin: 5px auto;
	}
	.menu>span {
		font-size: 1.5em;
		font-weight: bold;
	}
	.menu:hover,.span:hover {
		background-color: #E0E0E0;
		border: none;
		transition: 0.7s;
	}
}

@media screen and (max-width: 1000px) {
	.header-pic {
		width: 25em;
	}
	.aboutus_title>h1,.service_title>h2,.life_title>h4,.location>h6 {
		font-size: 26px;
	}
	.aboutus_title>h1>span,.service_title>h2>span,.life_title>h4>span,.location>h6>span {
		font-size: 22px;
	}
	.aboutus_title>h1:after,.aboutus_title>h1:before {
		width: 45%;
	}
	.service_title>h2:after,.service_title>h2:before {
		width: 68%;
	}
	.life_title>h4:after,.life_title>h4:before,.location>h6:after,.location>h6:before {
		width: 80%;
	}
	.item_pic {
		height: 400px !important;
		width: 100% !important;
	}
	.carousel_box {
		position: static;
	}
	.service_content {
		width: 95%;
		height: 100%;
	}
	.service_content>h3 {
		font-size: 20px;
	}
	.aboutus_content, .service_content>ol>li, .service_content>ul>li {
		font-size: 16px;
	}
	.item_list {
		display: inline;
		margin: auto 1.25%;
		padding: 10px 20px;
		font-size: 16px;
	}
	.life_content {
		display: inline-block;
		width: calc(100% / 3 - 10px * 2 / 3);
		height: 350px;
	}
	.life_pic,.life_pic_overlay {
		height: 200px;
	}
}
@media screen and (max-width: 600px) {
	#header {
		height: 130px;
	}
	.header-pic {
		width: 20em;
	}
	.header_font {
		width: 80%;
	}
	.life_content {
		display: inline-block;
		width: calc(100% / 2 - 5px * 2 / 2);
	}
	.aboutus_title>h1,.service_title>h2,.life_title>h4,.location>h6 {
		font-size: 22px;
	}
	.aboutus_title>h1>span,.service_title>h2>span,.life_title>h4>span,.location>h6>span {
		font-size: 18px;
	}
	.aboutus_content, .service_content>ol>li, .service_content>ul>li {
		font-size: 15px;
	}
	.aboutus_title>h1:after,.aboutus_title>h1:before {
		width: 20%;
	}
	.service_title>h2:after,.service_title>h2:before {
		width: 40%;
	}
	.life_title>h4:after,.life_title>h4:before,.location>h6:after,.location>h6:before {
		width: 55%;
	}
	.service_content>h3>span, .item_list {
		font-size: 15px;
	}
	.item_link {
		white-space: nowrap;
	}
}

/* Added by Bible */

#googleMap {
	height: 400px;
	width: 400px;
}

#reserveForm {
	height: 600px;
}

#header > ul > li {
	cursor: pointer;
}

#captcha {
	background-color: #A51D22;
	color: #FFF;
	padding: 5px;
}
