body {
	margin: 0 auto;
}

#header {
	background: linear-gradient(to right,#0C4B8E,#189BFA);
	display: inline-block;
	width: 100%;
	height: 125px;
	margin: 25px auto;
	text-align: center;
}

.header-pic {
	display: inline-block;
	vertical-align: middle;
	height: 100px;
	margin-top: 10px;
}


#header>ul {
	margin-top: 25px;
	display: inline-block;
	vertical-align: middle;
}

#header>ul>li {
	display: inline;
	font-size: 18px;
	padding: 10px 10px;
	font-weight: bold;
	font-family: NSimSun;
}

#header>ul>li>a {
	color: white;
	text-decoration: none;
}

#header>ul>li>a:hover {
	color: #FFEB3B;
	text-shadow: 1px 1px 3px white;
	text-decoration: none;
	transition: 0.5s;
}


#header>ul>div>li {
	font-size: 14px;
	color: white;
	list-style: none;
	line-height: 35px;
}

.carousel_box {
	margin: 0 auto;
	overflow: hidden;
 	background-size: cover;
	background-position: center;
}

.about_us {
	position: relative;
	background-color: #1E88E5;
	height: 200px;
	color: white;
	font-size: 20px;
}

.about_us:before {
	content: '';
	position: absolute;
	width: 80%;
	height: 20%;
	left: 10%;
	top: 35px;
	opacity: 0.3;
	background-color: white;
}

.about_us>h1 {
	font-family: Georgia, Meiryo;
	font-size: 35px;
	width: 70%;
	margin: 0 auto;
	padding: 20px 0;
	position: relative;
}

.about_us>h1>span {
	font-style: italic;
	font-size: 30px;
}

.about_us>p {
	font-family: NSimSun;
	height: 50%;
	width: 70%;
	line-height: 35px;
	margin: 0 auto;
	overflow: auto;
}

.latest_news {
	background-color: white;
	height: 200px;
	background-color: #E0E0E0;/*只是隨便填色*/
}

.service_items {
	border: 1px solid rgba(255, 0, 0, .3);
	margin: 0 auto;
}


.service_items>ul {
	border: 1px solid rgba(255, 0, 0, .3);
	display: inline-block;
	margin: 5% 5%;
	width: 250px;
	padding-left: 0;

}

.item_list {
	color: #1E88E5;
	list-style-type: none;
	text-decoration: none;
	border-bottom: 3px solid gray;
	border-radius: 8px;
	font-family: NSimSun;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
}


.item_list:hover {
	text-decoration: none;
	color: white;
	background-color: #1E88E5;
	text-shadow: 1px 1px 2px #E1F5FE;
	transition: 0.5s;
}

.service_content {
	position: relative;
	background-color: #51C1F0;
	display: inline-block;
	margin: 20px 0;
	height: 500px;
}

.service_content:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 80%;
	top: 80px;
	z-index: 1;
	opacity: 0.2;
	background-color: #a3daff;
}

.service_content>h2 {
	font-family: Georgia, KaiTi;
	font-size: 40px;
	text-align: center;

}

.service_content>h2>span {
	font-size: 25px;
	font-style: italic;
}

.service_content>ol {
	position: absolute;
	z-index: 2;
	margin: 20px 0;
	vertical-align: middle;
}

.service_content>ol>li {
	line-height: 45px;
	font-size: 25px;
	font-family: kaiTi;
}

.service_content>ul {
	position: absolute;
	z-index: 2;
	margin: 20px 0;
	vertical-align: middle;
}

.service_content>ul>li {
	line-height: 45px;
	font-size: 25px;
	font-family: kaiTi;
	width: 90%;
}


@media screen and (min-width: 999px) {
	.carousel_box {
		width: 70%;
	}

	.item_pic {
		height: 650px !important;
		width: 100% !important;
	}

	.service_items>ul {
		height: 1000px;
		float: left;
	}

	.service_content {
		width: 65%;
	}

}

@media screen and (max-width: 1000px) {
	.item_pic {
		height: 400px !important;
		width: 100% !important;
	}

	.carousel_box {
		width: 80%;
	}

	.service_content {
		width: 95%;
	}

}


/*#header>p {
	font-size: 14px;
	color: white;
	position: absolute;
	top: 75px;
	right: 350px;
}*/

/* Added by Bible */

#mainContent {
	height: 100%;
}

#googleMap {
	height: 400px;
	width: 400px;
}